@model IEnumerable<SupplyChain.Models.Entrada>

@{
    ViewData["Title"] = "Entradas";
}

<h1 class="text-light">Entradas</h1>

<div class="d-flex flex-row-reverse bd-highlight mb-4">
    <input type="Button" class="btn btn-dark" value="Adicionar nova entrada" onclick="location.href='@Url.Action("Create", "Entrada")'" />
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mercadoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mercadoria.Nome)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
